*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.signinUserWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* section label */
.labelwrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.headingWrapper{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}
.createAnAccountLabel {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #212121;
}

/* section login form */

.signInFormWrapper {
  width: 60%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #f7f7f7;
  float: right;
  /* box-shadow: -10px 0px 1px -9px #b1b1b1; */
  box-shadow: 0 4px 5px -2px #333;
}

.signInFormWrapper form {
  width: 40%;
  margin: 8rem 0 0 0;
}

/* Forgot username & password link */
.userHelpingLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.forgotUsernamePassword {
  float: left;
  display: block;
  color: #00653e;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

/* Signin Button */
.signinButton {
  margin: 6rem 0;
  background-color: #00a862;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1.6rem 2.4rem;
  border-radius: 50px;
  border-style: none;
  float: right;
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  outline: none;
  font-weight: 600;
}

/* Join rewards label */
.joinRewardsLabel {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  padding: 1.4rem 0;
  background-color: #2d2926;
  color: #ffffff;
  text-align: center;
  font-feature-settings: "calt";
  margin: 0;
}

/* Join now section */
.joinNowSectionWrapper {
  background-color: #edebe9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinNowDiv {
  width: 40%;
  padding: 8rem 0;
}

/* Common Button Link Props */
.commonButtonLinkProps{
  width: fit-content;
  display: block;
  border-radius: 50px;
  border-style: none;
  padding: 0.8rem 1.6rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  outline: none;
}

.joinNowLink {
  color: #212121;
  background-color: #edebe9;
  border: 1px solid #212121;
}
.joinNowLink:hover {
  background-color: #dfdddb;
}

.joinNowh3Tag {
  display: block;
  color: #212121;
  letter-spacing: 0.05rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.1rem;
  margin-bottom: 2rem;
}

.joinNowParagraph {
  display: block;
  color: #212121;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
 
  .signInFormWrapper form {
    width: 60%;
  }
   
  
.joinNowDiv {
  width: 60%;
}
  }

  @media only screen and (min-width: 426px) and (max-width: 768px) {

    .signinUserWrapper {
      position: relative;
    }
    
    /* section label */
    .labelwrapper {
      width: 100%;
      position: relative;
      top: 0%;
      transform: translateY(0%);
      padding: 4rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    }

    .signInFormWrapper {
      width: 100%;
      position: relative;
      right: 0;
      top: 0;
      display: flex;

    }
  }