.Container {
  width: 100%;
  height: 100%;
}

.Wrapper {
  height: auto;
  width: 100%;
  padding-left: 13.1rem;
  display: flex;
}

.Footer {
  margin-top: 4rem;
  /* padding-left: 13.1rem; */
  height: auto;
  background-color: #f7f7f7;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Wrapper {
    padding-left: 10.1rem;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    
    .Wrapper {
      padding-left: 9.1rem;
    }
}
