.Container{
    width: 100%;
    height: 100%;
}

.Wrapper{
    height: auto;
    /* width: 100%; */
    padding-left: 13.1rem;
    display: flex;
}

.Footer{
    padding-left: 13.1rem;
    height: auto;
    background-color: #f7f7f7;

}
