
.itemBox{
    padding: 0 0.8rem;
    width: 50%;
    margin-bottom: 3.2rem!important;
    position: relative;
    /* display: inline-block; */
    text-align: left;
    float: left;
}

.itemFlexContainer{
    display: flex!important;
    align-items: center!important;
}

.imageBox{
    max-width: 112px;
    height: 112px;
    background-color: #1f3933;
    border-radius: 50%;
    width: 100%;
    margin-right: 1.6rem!important;
}

.itemHeading{
    font-size: 2rem;
    line-height: 1.263;
    font-weight: 500;
}

.itemLinkOverlay{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}