.elaboratedMenuWrapper {
  padding-left: 12rem !important;
  padding-right: 18% !important;
  margin-top: 4rem !important;
  flex: 1 1 0;
  /* overflow: auto; */
  height: 100%;
}

.menuHeading {
  font-weight: 700 !important;
  padding-bottom: 5.2rem !important;
  font-size: 2.4rem;
  margin: 0;
}

.menuLink {
  padding-bottom: 1rem !important;
  font-weight: 600 !important;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #969696;
  letter-spacing: 0.1rem;
}

.spanLink{
  color: #616161;
}