.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: inline-block;
  padding-right: 2.4rem;
}

.listItem a {
  text-decoration: none;
  color: #212121;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.01rem;
}

.listItem a:hover,
.listItem a:active,
.listItem a.active {
  color: #008248;
}
